.footer {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    font-family: 'Gilroy';
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 50px 0px;
  }
  .footer-left {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo p{
    width: 174%;
    font-weight: 500;
    /* font-size: 5px; */
    text-align: center;
  }
  .social-links h3{
    text-align: center;
    font-weight: 900;
  }
  .footer-logo {
    background: #000;
    border-radius: 50%;
    width: 50px;
    height: auto;
  }
  .social-links a {
    margin: 0 10px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    padding-left: 10px;
  }
  .footer-links {
    display: flex;
    /* align-items: center; */
    gap: 50px;
  }
  .footer-links div {
    text-align: left;
  }
  .footer-links h3 {
    font-size: 2.5vh;
    margin-bottom: 10px;
    font-weight: 900;
  }
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  .footer-links li {
    margin-bottom: 5px;
    text-decoration-color: rgb(72, 72, 255);
  }
  .footer-links a {
    color: #333;
    text-decoration: none;
    font-size: 2vh;
  }
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
  }
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
    .footer-links div {
      text-align: center;
    }
    .footer-links {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
    }
  }
  