* {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy';
}

.home-container {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: calc(100vh - 10vh);
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E7EDFD; /* Background color for the hero section */
  width: 100%;
  padding: 40px; /* Padding around the content */
  box-shadow: none; /* Remove shadow for a flat look */
  flex-wrap: nowrap; /* Prevent wrapping to keep items side by side */
}

.hero-content {
  width: 50%; /* Adjust width for larger screens */
  padding: 20px; /* Add padding for better spacing */
  
}

.hero-heading {
  font-weight: bold;
  font-size: 5vw; /* Responsive font size */
  line-height: 10vh; /* Responsive line height */
  margin-top: 25px;
  text-align: left ;
}

.hero-subheading {
  margin-top: 5px;
  font-weight: medium;
  font-size: 1.125rem; /* Equivalent to text-lg */
  text-align: left ;
}

.hero-image {
  width: 50%; /* Adjust width for larger screens */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  max-width: 100%; /* Ensure the image is responsive */
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 1024px) {
  .hero-section {
    flex-direction: column; /* Stack content on smaller screens */
    text-align: center; /* Center text */
  }
  .hero-content {
    max-width: 100%; /* Allow full width on smaller screens */
  }
  .hero-heading {
    text-align: center ;
    line-height: 6vh;
  }
  .hero-image {
    max-width: 80%; /* Limit image width */
    margin-top: 20px; /* Add margin for spacing */
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding: 20px; /* Adjust padding for smaller screens */
  }
  .hero-heading {
    font-size: 28px;
    line-height: 4vh;
    text-align: center ;
  }
  .hero-image {
    max-width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .hero-subheading {
    font-size: 16px; /* Adjust subheading size */
    text-align: center ;
  }
}

@media (max-width: 480px) {
  .hero-heading {
    font-size: 24px; /* Further adjust heading size */
    text-align: center ;
  }
  .hero-subheading {
    font-size: 14px; /* Further adjust subheading size */
    text-align: center ;
  }
}