.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo {
  font-weight: bold;
  font-size: 2.5rem;
  color: #1a1a1a;
  text-decoration: none;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-button {
  background-color: #3b82f6;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-button:hover {
  background-color: #2563eb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.register {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
