<<<<<<< HEAD
<<<<<<< HEAD
.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: #E7EDFD;
  font-family: 'Gilroy';
}

.logo {
  font-weight: bold;
  font-size: 2.5rem;
  color: #1a1a1a;
  text-decoration: none;
  width: 85px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  width: 200px;
}

.nav-button {
  background-color: #3b82f6;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  width: 150px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-button:hover {
  background-color: #2563eb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.register {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
=======
=======
>>>>>>> 11d2534 (with login page)
/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 4%;
  background-color: #fff; /* Change this if needed */
  border-bottom: 1px solid #ddd;
  /* 0.5rem = 8px */;
}

/* Logo Styling */
.navbar-logo {
  width: max(1%, 80px);
}

/* Logout Button */
.logout-btn {
  background-color: #4b5563; /* Gray-600 */
  color: white;
  padding: 8px 20px;
  font-size: 12px;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #374151; /* Darker gray on hover */
}

/* Responsive Button Sizing */
@media (min-width: 640px) {
  .logout-btn {
      padding: 8px 28px;
      font-size: 14px;
  }
<<<<<<< HEAD
>>>>>>> 11d2534 (with login page)
=======
>>>>>>> 11d2534 (with login page)
}
